sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink

sublime-text-3/Installed Packages/PyV8/osx-p3/config.json
Package Control.cache
Package Control.last-run
